.omakase-help
  .omakase-help-dropdown
  .omakase-help-menu
  .omakase-help-group-title {
  background: #292d43;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 17px;
  color: #cacfea;
}

.omakase-help .omakase-help-dropdown .omakase-help-menu .omakase-help-group {
  background: #3a3d4b;
  border-radius: 3px;
}

.omakase-help
  .omakase-help-dropdown
  .omakase-help-menu
  .omakase-help-group
  .omakase-help-item {
  border-bottom: 1px solid #292d43;
  color: #cacfea;
}

.omakase-help
  .omakase-help-dropdown
  .omakase-help-menu
  .omakase-help-group
  .omakase-help-item:hover {
  background: #525979;
}
